<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<string>
来信是 一款有趣儿的真人社交产品。
来信不仅仅是一个即时通讯聊天工具，同时还可以与你的好友随时随地分享动态。</string>
	<key>services</key>
	<string>
 本协议由通过莱福思来信网站、移动客户端软件及其他方式使用莱福思来信服务的用户（以下简称“用户”或“您”）与莱福思集团（以下简称“莱福思”）共同缔结。
 您应于注册及使用本服务前认真阅读全部协议内容，对于协议中粗体字显示的内容应重点阅读。无论您是否实际阅读本协议，当您于网站点击同意接受本协议或已实际使用莱福思来信服务，本协议即产生法律约束力。
 一、协议内容和效力
 
 1.1	本协议内容包括本协议正文及所有莱福思来信已经发布或将来可能发布的隐私政策、各项政策、规则、声明、通知、警示、提示、说明（以下简称“规则”）。前述规则为本协议不可分割的组成部分，与协议正文具有同等法律效力；
 1.2	莱福思来信有权根据需要不时制订、修改本协议及相关规则，变更后的协议和规则一经公布，立即取代原协议及规则并自动生效。如您不同意相关变更，应当立即停止使用莱福思来信服务，如您继续使用莱福思来信服务或进行任何网站活动，即表示您已接受经修订的协议和规则。
 二、服务
 
 2.1 莱福思及其关联公司通过莱福思来信为用户提供社交平台服务，用户可利用莱福思来信建立各类社交关系圈，与好友进行互动（包括但不限于分享资讯、图片、视频及评论信息），并对在线社交关系进行维护和管理；
 2.2 莱福思来信保留在任何时候自行决定对莱福思来信服务或致使莱福思来信服务及其相关功能、应用软件变更、升级、修改、转移的权利。您同意，对于上述行为，莱福思来信均不需通知，并且对您和任何第三人不承担任何责任。
 三、注册及账号管理
 
 3.1 莱福思来信致力建设成为真实身份关系的社交服务平台，因此，您注册为莱福思来信用户时应提交真实、准确、完整和反映当前情况的身份及其他相关信息，并在信息发生变化后及时更新；
 3.2 您承诺不得注册一个以上莱福思来信账号，不得冒充他人进行注册，不得未经许可为他人注册，不得以可能导致其他用户误认的方式注册账号，不得使用可能侵犯他人权益的用户名进行注册（包括但不限于涉嫌商标权、名誉权侵权等），否则莱福思来信有权取消该账号；
 3.3 您了解并同意，莱福思来信注册账号所有权归属于莱福思来信，注册完成后，您仅获得账号使用权。莱福思来信账号使用权仅归属于初始申请注册人，不得以任何方式转让或被提供予他人使用，否则，莱福思来信有权立即不经通知收回该账号；
 3.4 在您成功注册后，莱福思来信将根据账号和密码确认您的身份。您应妥善保管账号和密码，并对利用该密码和账号所进行的一切活动负全部责任。您承诺，在密码或账号遭到未获授权的使用，或者发生其他任何安全问题时，将立即通知莱福思来信，且您同意并确认，除非因莱福思过错导致账号被盗，莱福思来信不对上述情形产生的任何直接或间接的遗失或损害承担责任；
 3.5 您了解并同意，如您注册莱福思来信账号后长期不登录，莱福思来信为网站优化管理之目的有权回收该账号，相关问题及责任均由您自行承担；
 3.6 莱福思来信根据本协议收回或取消账号后，有权自行对账号相关内容及信息以包括但不限于删除等方式进行处理，且无需就此向用户承担任何责任。
 四、服务使用规范
 
 4.1 用户充分了解并同意，莱福思来信仅为用户提供社交平台，您应自行对利用莱福思来信服务从事的所有行为及结果承担责任。相应地，您应了解，使用莱福思来信服务可能发生来自他人非法或不当行为（或信息）的风险，您应自行判断及行动，并自行承担相应的风险；
 4.2 除非另有说明，本协议项下的服务只能用于非商业用途。您承诺不对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于包括但不限于广告及任何其它商业目的。
 4.3 您承诺不会利用本服务进行任何违法或不当的活动，包括但不限于下列行为∶
 4.3.1 上载、传送或分享含有下列内容之一的信息：
 (a) 反对宪法所确定的基本原则的；
 (b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
 (c) 损害国家荣誉和利益的；
 (d) 煽动民族仇恨、民族歧视、破坏民族团结的；
 (e) 破坏国家宗教政策，宣扬邪教和封建迷信的；
 (f) 散布谣言，扰乱社会秩序，破坏社会稳定的；
 (g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
 (h) 侮辱或者诽谤他人，侵害他人合法权利的；
 (i) 含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
 (j) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
 
 4.3.2 冒充任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；
 4.3.3 伪造标题或以其他方式操控识别资料，使人误认为该内容为莱福思或其关联公司所传送；
 4.3.4 将依据任何法律或合约或法定关系（例如由于雇佣关系和依据保密合约所得知或揭露之内部资料、专属及机密资料）知悉但无权传送之任何内容加以上载、传送或分享；
 4.3.5 将涉嫌侵害他人权利（包括但不限于著作权、专利权、商标权、商业秘密等知识产权）之内容上载、传送或分享；
 4.3.6 将任何广告、推广信息、促销资料、“垃圾邮件”、“滥发信件”、“连锁信件”、“直销”或其它任何形式的劝诱资料加以上载、传送或分享；供前述目的使用的专用区域或专用功能除外；
 4.3.7 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送；
 4.3.8 干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范；
 4.3.9 跟踪或以其它方式骚扰他人；
 4.3.10 以任何方式危害未成年人的利益；
 4.3.11 从事任何违反中国法律、法规、规章、政策及规范性文件的行为。
 4.4 您承诺，使用莱福思来信服务时您将严格遵守本协议(包括本协议第一条所述规则)；
 4.5 您同意并接受莱福思来信无须时时监控您上载、传送或分享的资料及信息，但莱福思来信有权对您使用莱福思来信服务的情况进行审查、监督并采取相应行动，包括但不限于删除信息、中止或终止服务，及向有关机关报告；
 4.6 您承诺不以任何形式使用本服务侵犯莱福思来信的商业利益，或从事任何可能对莱福思来信造成损害或不利于莱福思来信的行为；
 4.7 您了解并同意，在莱福思来信服务提供过程中，莱福思及其关联公司或其授权单位和个人有权以各种方式投放各种商业性广告或其他任何类型的推广信息，同时，您同意接受以电子邮件或其他方式向您发送的上述广告或推广信息；
 4.8 特别授权
 当您向莱福思关联公司作出任何形式的承诺，且相关公司已确认您违反了该承诺，则莱福思来信有权立即按您的承诺约定的方式对您的账户采取限制措施，包括但不限于中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，莱福思来信无须就相关确认与您核对事实，或另行征得您的同意，且莱福思来信无须就此限制措施或公示行为向您承担任何的责任。
 五、第三方应用
 
 5.1 莱福思来信允许第三方应用接入莱福思来信社交服务平台，您可以在莱福思来信直接获得包括但不限于社交游戏的第三方应用服务。您了解并同意，莱福思来信仅作为平台提供者，相关服务由该第三方提供，莱福思来信不对您对该服务的使用承担任何责任；
 5.2 您了解并同意，如莱福思来信对莱福思来信服务或其部分做出调整、中止或终止而对第三方应用服务产生影响，莱福思来信不承担任何责任。
 六、服务中止或终止
 
 6.1 您同意，鉴于互联网服务的特殊性，莱福思来信有权随时中止、终止或致使中止终止莱福思来信服务或其任何部分；对于免费服务之中止或终止，莱福思来信无需向您发出通知；
 6.2 您了解并同意，莱福思来信可能定期或不定期地对提供网络服务的平台设备、设施和软硬件进行维护或检修，如因此类情况而造成收费服务在合理时间内中止，莱福思来信无需承担责任，但应尽可能事先进行通告；
 6.3 如存在下列违约情形之一，莱福思来信可立即对用户中止或终止服务，并要求用户赔偿损失：
 6.3.1 用户违反第三条之注册义务；
 6.3.2 用户使用收费网络服务时未按规定支付相应服务费；
 6.3.3 用户违反第四条服务使用规范之规定。
 6.4 莱福思来信根据本协议中止或终止后，有权收回该账号及自行对您账号下的内容及信息以包括但不限于删除等方式进行处理，且无需就此向用户承担任何责任。
 七、隐私政策
 
 保护用户隐私信息是莱福思来信的一项基本政策，您提供的资料及莱福思来信保留的您的其它资料将受到中国隐私法律和《莱福思来信隐私政策》的规范。
 
 八、知识产权
 
 8.1 您了解及同意，除非莱福思来信另行声明，本协议项下服务包含的所有产品、技术、软件、程序、数据及其他信息（包括但不限于文字、图像、图片、照片、音频、视频、图表、色彩、版面设计、电子文档）的所有知识产权（包括但不限于版权、商标权、专利权、商业秘密等）及相关权利均归莱福思或其关联公司所有；
 8.2 您应保证，除非取得莱福思来信书面授权，对于上述权利您不得（并不得允许任何第三人）实施包括但不限于出租、出借、出售、散布、复制、修改、转载、汇编、发表、出版、还原工程、反向汇编、反向编译，或以其它方式发现原始码等的行为；
 8.3 莱福思来信服务涉及的Logo、“来信”、“Laiwang”等文字、图形及其组成，以及莱福思来信其他标识、徵记、产品和服务名称均为莱福思及其关联公司在中国和其它国家的商标，用户未经莱福思来信书面授权不得以任何方式展示、使用或作其他处理，也不得向他人表明您有权展示、使用、或作其他处理。
 九、有限责任
 
 9.1 服务将按&quot;现状&quot;和按&quot;可得到&quot;的状态提供。莱福思来信在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途之类的保证，声明或承诺。
 9.2 莱福思来信对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不作承诺和保证。
 9.3 不论在何种情况下，莱福思来信均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
 9.4 不论是否可以预见，不论是源于何种形式的行为，莱福思来信不对由以下原因造成的任何特别的，直接的，间接的，惩罚性的，突发性的或有因果关系的损害或其他任何损害（包括但不限于利润或利息的损失，营业中止，资料灭失）承担责任。
 9.4.1 使用或不能使用服务；
 9.4.2 通过服务购买或获取任何产品，样品，数据，信息或进行交易等，或其他可替代上述行为的行为而产生的费用；
 9.4.3 未经授权的存取或修改数据或数据的传输；
 9.4.4 第三方通过服务所作的陈述或行为；
 9.4.5 其它与服务相关事件，包括疏忽等，所造成的损害。
 9.5 您充分了解并同意，鉴于互联网体制及环境的特殊性，您在莱福思来信分享的信息及个人资料有可能会被他人复制、转载、擅改或做其它非法用途；您在此已充分意识此类风险的存在，并确认此等风险应完全由您自行承担，莱福思来信对此不承担任何责任；
 9.6 您了解并同意，在使用莱福思来信服务过程中可能存在来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为或对他人权利的侵犯（包括知识产权）及匿名或冒名的信息的风险，基于第4.1条所述，该等风险应由您自行承担，莱福思来信对此不承担任何责任；
 十、赔偿
 
 您同意，由于您通过莱福思来信服务上载、传送或分享之信息、使用本服务其他功能、违反本协议、或您侵害他人任何权利因而衍生或导致任何第三人向莱福思及其关联公司提出任何索赔或请求，或莱福思及其关联公司因此而发生任何损失，您同意将足额进行赔偿（包括但不限于合理律师费）。
 十一、有效通知
 
 11.1 莱福思来信向您发出的任何通知，可采用电子邮件、页面公开区域公告、个人网络区域提示、手机短信或常规信件等方式，且该等通知应自发送之日视为已向用户送达或生效。
 11.2 您同意，您向莱福思来信发出的任何通知应发至莱福思来信对外正式公布或以11.1条所述方式告知用户的电子邮件、通信地址、传真号码等联系信息，或使用其他莱福思来信认可的其他通知方式进行送达。
 十二、争议解决及其他
 
 12.1 本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以浙江省杭州市滨江区人民法院为第一审管辖法院；
 12.2 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力；
 12.3 莱福思来信于用户过失或违约时放弃本协议规定的权利的，不得视为其对用户的其他或以后同类之过失或违约行为弃权；12.4 本协议应取代双方此前就本协议任何事项达成的全部口头和书面协议、安排、谅解和通信；
 12.5 莱福思有权根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，转让将以本协议规定的方式通知，用户承诺对此不持有异议。</string>
	<key>ageDes</key>
	<string>[&quot;学生妹&quot;,&quot;少女时代&quot;,&quot;豆蔻年华&quot;,&quot;青春无敌&quot;,&quot;小萝莉&quot;,&quot;童颜巨乳&quot;,&quot;含苞待放&quot;,&quot;少有韵味&quot;,&quot;破瓜之年&quot;,&quot;碧玉年华&quot;,&quot;桃李年华&quot;,&quot;花信年华&quot;]</string>
	<key>mmLabel</key>
	<string>[&quot;高&quot;,&quot;富&quot;,&quot;帅&quot;,&quot;白&quot;,&quot;美&quot;,&quot;宅&quot;,&quot;清纯&quot;,&quot;可爱&quot;,&quot;孝顺&quot;,&quot;温顺&quot;,&quot;学妹&quot;,&quot;气质&quot;,&quot;成熟&quot;,&quot;性感&quot;,&quot;知性&quot;,&quot;潮&quot;,&quot;洋气&quot;,&quot;理性&quot;,&quot;感性&quot;,&quot;有爱心&quot;,&quot;有宠物&quot;,&quot;喵星人&quot;,&quot;汪星人&quot;,&quot;顾家型&quot;,&quot;顾家型&quot;,&quot;钢琴手&quot;,&quot;我是歌手&quot;,&quot;吉他手&quot;,&quot;会按摩&quot;,&quot;烹饪达人&quot;,&quot;狂热吃货&quot;,&quot;吃货&quot;,&quot;皮肤好&quot;,&quot;脾气好&quot;,&quot;安静&quot;,&quot;幽默&quot;,&quot;可爱&quot;,&quot;运动达人&quot;,&quot;天爱呆&quot;,&quot;表情帝&quot;,&quot;文艺&quot;,&quot;小清新&quot;,&quot;积极分子&quot;,&quot;工作狂&quot;,&quot;事业狂&quot;,&quot;有才&quot;,&quot;有财&quot;,&quot;富二代&quot;,&quot;小萝莉&quot;,&quot;购物狂&quot;,&quot;电视剧&quot;,&quot;乐观&quot;]</string>
	<key>grouptypeArray</key>
	<string>[&quot;群聊&quot;,&quot;聊天&quot;,&quot;娱乐&quot;,&quot;音乐&quot;,&quot;美食&quot;,&quot;笑话&quot;,&quot;情感&quot;,&quot;电影&quot;,&quot;星座&quot;,&quot;运动&quot;,&quot;玩耍&quot;,&quot;唧唧歪歪&quot;,&quot;QQ&quot;,&quot;微信&quot;,&quot;电话&quot;,&quot;爱&quot;,&quot;诉苦&quot;,&quot;聊秘密&quot;,&quot;聊八卦&quot;,&quot;约会&quot;,&quot;秘密&quot;]</string>
	<key>lebaihuibaolizhongxin</key>
	<string>
{&quot;list&quot;:[{&quot;name&quot;:&quot;至尊公爵&quot;,&quot;type&quot;:&quot;vip&quot;,&quot;lowprice&quot;:&quot;3900&quot;,&quot;parensNumber&quot;:&quot;15-18&quot;},

{&quot;name&quot;:&quot;至尊伯爵&quot;,&quot;type&quot;:&quot;豪包&quot;,&quot;lowprice&quot;:&quot;3690&quot;,&quot;parensNumber&quot;:&quot;15-18&quot;},

{&quot;name&quot;:&quot;枫丹白露&quot;,&quot;type&quot;:&quot;豪包&quot;,&quot;lowprice&quot;:&quot;2900&quot;,&quot;parensNumber&quot;:&quot;12-15&quot;},
{&quot;name&quot;:&quot;白金汉宫&quot;,&quot;type&quot;:&quot;豪包&quot;,&quot;lowprice&quot;:&quot;2900&quot;,&quot;parensNumber&quot;:&quot;12-15&quot;},
{&quot;name&quot;:&quot;布鲁塞尔&quot;,&quot;type&quot;:&quot;豪包&quot;,&quot;lowprice&quot;:&quot;2900&quot;,&quot;parensNumber&quot;:&quot;12-15&quot;},

{&quot;name&quot;:&quot;爱丁堡&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;2590&quot;,&quot;parensNumber&quot;:&quot;8-12&quot;},
{&quot;name&quot;:&quot;哥德堡&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;2590&quot;,&quot;parensNumber&quot;:&quot;8-12&quot;},
{&quot;name&quot;:&quot;温莎堡&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;2590&quot;,&quot;parensNumber&quot;:&quot;18-12&quot;},

{&quot;name&quot;:&quot;景福宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;无忧宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;卢浮宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;凯旋门&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;凡尔赛宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;美泉宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;紫金宫&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},
{&quot;name&quot;:&quot;索菲亚&quot;,&quot;type&quot;:&quot;大包&quot;,&quot;lowprice&quot;:&quot;1890&quot;,&quot;parensNumber&quot;:&quot;7-8&quot;},

{&quot;name&quot;:&quot;爱丽舍&quot;,&quot;type&quot;:&quot;中包&quot;,&quot;lowprice&quot;:&quot;1290&quot;,&quot;parensNumber&quot;:&quot;4-6&quot;},
{&quot;name&quot;:&quot;布拉格&quot;,&quot;type&quot;:&quot;中包&quot;,&quot;lowprice&quot;:&quot;1290&quot;,&quot;parensNumber&quot;:&quot;4-6&quot;},
{&quot;name&quot;:&quot;威尼斯&quot;,&quot;type&quot;:&quot;中包&quot;,&quot;lowprice&quot;:&quot;1290&quot;,&quot;parensNumber&quot;:&quot;4-6&quot;},
{&quot;name&quot;:&quot;维也纳&quot;,&quot;type&quot;:&quot;中包&quot;,&quot;lowprice&quot;:&quot;1290&quot;,&quot;parensNumber&quot;:&quot;4-6&quot;},
{&quot;name&quot;:&quot;奥尔堡&quot;,&quot;type&quot;:&quot;中包&quot;,&quot;lowprice&quot;:&quot;1290&quot;,&quot;parensNumber&quot;:&quot;4-6&quot;},

{&quot;name&quot;:&quot;波尔多&quot;,&quot;type&quot;:&quot;小包&quot;,&quot;lowprice&quot;:&quot;990&quot;,&quot;parensNumber&quot;:&quot;1-3&quot;}],
&quot;ktvName&quot;:&quot;乐佰汇&quot;,&quot;location&quot;:&quot;保利店&quot;,&quot;lng&quot;:&quot;1231231&quot;,&quot;log&quot;:&quot;123213131&quot;,&quot;addressName&quot;:&quot;成都市武侯区锦绣路保利中心C座&quot;,&quot;phone&quot;:[&quot;028-66553333&quot;,&quot;028-65886666&quot;]}</string>
	<key>private</key>
	<string>莱福思来信非常重视用户的隐私权，以下是我们对您信息收集、使用和保护的政策，请您认真阅读，对于文中加粗字体显示的内容，莱福思来信督促您应重点阅读。随着服务范围的扩大和调整，我们可能随时更新我们的隐私政策，恕不另行通知，更新后的隐私政策一旦在网页上公布即有效取代原有隐私政策。
 
 1、信息的收集和使用
 
 1.1 当您在莱福思来信注册时，莱福思来信会要求您提供个人资料；对于您使用莱福思来信服务须创建的个人资料，我们可能会向拥有您电子邮件地址或其他身份信息的人士进行展示；
 
 1.2在您使用莱福思来信服务，或访问莱福思来信网页时，莱福思来信将自动接收并记录您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息、您请求的内容记录及莱福思来信Cookies信息等；
 
 1.3如果您已安装莱福思来信移动客户端软件，则莱福思来信可能会读取您的移动设备属性及其存储信息，包括但不限于您使用设备的品牌及型号、设备的识别码、电信运营商、所在国家或地区，您的手机号码、您的通讯录，以及您的所在地等信息；
 
 1.4当您在使用莱福思来信服务执行某些操作时（例如向您的分组添加好友），我们可能会向您或其他人发送通知；
 
 1.5对于您于莱福思来信使用的第三方应用服务，莱福思来信将在您启动该应用时收集相关信息，并按照本隐私权政策进行处理；第三方应用服务提供者可能会获取您于莱福思来信的个人信息，其对信息的收集受其自身隐私权政策的约束；
 
 1.6 莱福思来信将对其他用户进行与您相关的操作时收集关于您的信息，亦可能从莱福思关联公司、合作第三方或通过其他合法途径获取的您的个人数据信息；
 
 1.7 莱福思来信收集及使用上述信息的目的是为了更好地运作网站和服务（包括但不限于向您提供个性化的服务），并且会通知您莱福思来信各项新的功能与服务以及莱福思关联公司的各类产品。
 
 2、信息的公开和分享
 
 在未经您同意之前，莱福思来信不会向任何第三方提供、出售、出租、分享和交易您的个人资料，但以下情形除外：
 
 2.1 为遵守法律法规之要求，包括在国家有关机关或其授权的单位查询时，向其提供有关资料；
 
 2.2 为免除您在生命、身体或财产方面之急迫危险，或为防止他人权益之重大危害；
 
 2.3 为保护莱福思及其关联公司、或其用户的权利及财产；
 
 2.4 在您被他人投诉侵犯知识产权或其他合法权利时，需要向投诉人披露您的必要资料，以便进行投诉处理的；
 
 2.5 只有透露您的资料，才能提供您所要求的产品和服务；
 
 2.6 为使莱福思合作方和莱福思及其关联公司单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。
 
 3、信息安全
 
 3.1您在莱福思来信注册的账户具有密码保护功能，以确保您个人资料的安全，请您妥善保管账户及密码信息；
 
 3.2 莱福思来信具有相应的技术和安全措施来确保我们掌握的信息不丢失，不被滥用和变造。尽管我们有这些安全措施，但请注意在互联网上不存在&quot;完善的安全措施&quot;。
 
 4、Cookies
 
 Cookies是少量的数据，在您未拒绝接受cookies的情况下，cookies将被发送到您的浏览器，并储存在您的计算机硬盘。我们使用cookies储存您访问莱福思来信的相关数据，在您访问或再次访问莱福思来信时,我们能识别您的身份，并通过分析数据为您提供更好更多的服务。
 
 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器的设置以拒绝接受cookies，但是我们需要提醒您，因为您拒绝接受cookies，您可能无法使用依赖于cookies的莱福思来信的部分功能。
 
 5、外部链接
 
 莱福思来信含有到其他网站的链接。莱福思来信对其他网站的隐私保护措施不负任何责任。我们可能在任何需要的时候增加商业伙伴或共用品牌的网站，但是提供给他们的将仅仅是综合信息，我们将不会公开您的身份。</string>
</dict>
</plist>
